.soup-form {
  border: 1px solid;
  padding: 5%;
}
.title {
  font-size: 3rem;
  margin-bottom: 5%;
}
.label-input-divs {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.text {
  font-style: oblique;
}
